<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 text-center">
      <h1 class="mt-5">Welcome to the Student Portal</h1>
      <p class="lead">This is a portal for students to access their information and resources.</p>
      <hr class="my-4">
      <p>To get started, please sign in or sign up.</p>
      <%= link_to "Sign In", new_session_path, class: "btn btn-primary btn-lg" %>
      <%= link_to "Sign Up", new_registration_path, class: "btn btn-secondary btn-lg" %>
    </div>
  </div>
</div>
