<div id="<%= dom_id response %>">
  <p>
    <strong>Program:</strong>
    <%= response.program %>
  </p>

  <p>
    <strong>Applicant:</strong>
    <%= response.fullname %>
  </p>

  <p>
    <strong>Time of Submition:</strong>
    <%= response.date %>
  </p>

</div>
