<% content_for :title, "Responses" %>

<h1>Responses</h1>

<div id="responses">
  <div class="card mt-3">
    <ul class="list-group list-group-flush">
      <% @responses.each do |response| %>
        <li class="list-group-item"><%= render response %>
          <p>
            <%= link_to "Show this response", response, class: "btn btn-outline-brand" %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
